.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
  .checkout {
    margin-top: 20px;
    margin-left: auto;
    font-size: 25px;
    cursor: pointer;
    border: 1px solid lightblue;
    padding: 5px;
    border-radius: 20px;
    background-color: blueviolet;
    color: white;
  }
}
.address-box {
    border: 2px solid lightblue;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
 
 .address {
   margin-left: 23px;
 }   
}